<nav
  class="navbar-bottom navbar-expand-md bg-body-light border-bottom sticky-top"
>
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div id="filters" class="nav-link sticky-top">
          <a href="/listings?category=Trending" class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
          </a>
          <a href="/listings?category=Beaches" class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beaches</p>
          </a>
          <a href="/listings?category=Skyscrapers" class="filter">
            <div><i class="fa-solid fa-city"></i></div>
            <p>Skyscrapers</p>
          </a>
          <a href="/listings?category=Apartments" class="filter">
            <div><i class="fa-solid fa-building"></i></div>
            <p>Apartments</p>
          </a>
          <a href="/listings?category=Rooms" class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
          </a>
          <a href="/listings?category=Mountains" class="filter">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Mountains</p>
          </a>
          <a href="/listings?category=Pools" class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Pools</p>
          </a>
          <a href="/listings?category=Arctic" class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
          </a>
          <a href="/listings?category=Farms" class="filter">
            <div><i class="fa-solid fa-wheat-awn"></i></div>
            <p>Farms</p>
          </a>
          <a href="/listings?category=Hotels" class="filter">
            <div><i class="fa-solid fa-hotel"></i></div>
            <p>Hotels</p>
          </a>
          <a href="/listings?category=Lakes" class="filter">
            <div><i class="fa-solid fa-water"></i></div>
            <p>Lakes</p>
          </a>
          <a href="/listings?category=Camps" class="filter">
            <div><i class="fa-solid fa-tents"></i></div>
            <p>Camps</p>
          </a>
          <a href="/listings?category=Forts" class="filter">
            <div><i class="fa-solid fa-building-columns"></i></div>
            <p>Forts</p>
          </a>
          
          <div class="tax-switch nav-link">
            <div class="form-check-reverse form-switch">
              <input
                class="form-check-input btn-tax"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Display total after taxes</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<%- include("../includes/flash.ejs") %> 

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
